<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>智能外卖客户登录</title>
    <link rel="icon" href="../images/favicon.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="../js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="../styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="../styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="../styles/login.css" />
</head>
<body>
<div id="login" v-loading="loading">
    <div class="divHead">智能云小程序</div>
    <div class="divImg"><img src="./../images/ball.png" style="width: 400px;height: 250px"/></div>
    <div style="font-size:18px;font-weight:bold;">&nbsp&nbsp&nbsp&nbsp欢迎登录</div>
    <div class="divContainer">
        <el-input placeholder=" 请输入您的邮箱" v-model="form.phone"  maxlength='20'/></el-input>
        <div class="divSplit"></div>
        <el-input placeholder=" 请输入最新验证码" v-model="form.code"  maxlength='20'/></el-input>
        <span v-show="sendAuthCode" class="auth_text auth_text_blue" @click='getCode'>获取验证码</span>
        <span v-show="!sendAuthCode" class="auth_text"> <span class="auth_text_blue">{{auth_time}} </span>倒计时后重试</span>
    </div>
    <div class="divMsg" v-if="msgFlag">邮箱输入不正确，请重新输入</div>
    <div style="font-size:10px;text-align: center;padding-top: 15px;font-weight:bold;color: rgba(176,176,180,0.94)">点击登录表明您已经阅读并遵守<a href="http://wzunjh.top/about/" style="color: #3a8ee6">《用户须知》</a></div>
    <el-button type="primary" :class="{btnSubmit:1===1,btnNoPhone:!form.phone,btnPhone:form.phone}" @click="btnLogin">同意并登录</el-button>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../backend/plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../backend/plugins/element-ui/index.js"></script>
<!-- 引入vant样式 -->
<script src="../js/vant.min.js"></script>
<!-- 引入axios -->
<script src="../../backend/plugins/axios/axios.min.js"></script>
<script src="../js/request.js"></script>
<script src="../api/login.js"></script>
</body>
<script>

    new Vue({
        el:"#login",
        data(){
            return {
                form:{
                    phone:'',
                    code:''
                },
                msgFlag:false,
                loading:false,
                sendAuthCode:true,
                auth_time:0
            }
        },
        computed:{},
        created(){},
        mounted(){},
        methods:{
            getCode(){
                this.form.code = ''
                // const regex = /^(13[0-9]{9})|(15[0-9]{9})|(17[0-9]{9})|(18[0-9]{9})|(19[0-9]{9})$/;  // 手机号的正则表达式 验证
                // const regex = /^[0-9a-zA-Z]+([\.\-_]*[0-9a-zA-Z]+)*@([0-9a-zA-Z]+[\-_]*[0-9a-zA-Z]+\.)+[0-9a-zA-Z]{2,6}$/; //  邮箱的正则表达式验证
                const regex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                if (regex.test(this.form.phone)) {
                    this.msgFlag = false
                    sendMsgApi({phone:this.form.phone})
                    this.sendAuthCode = false;
                    this.auth_time = 30;
                    let auth_times = setInterval(() => {
                        this.auth_time--;
                        if (this.auth_time <= 0) {
                            this.sendAuthCode = true;
                            clearInterval(auth_times);
                        }
                    }, 1000);
                    this.$message({
                        message: '验证码发送成功，注意查收',
                        type: 'success'
                    });
                }else{
                    this.msgFlag = true
                }

            },

            async btnLogin(){
                if(this.form.phone && this.form.code){
                    this.loading = true
                    const res = await loginApi(this.form)
                    this.loading = false
                    if(res.code === 1){
                        this.$message({
                            message: '登录成功！',
                            type: 'success'
                        });
                        sessionStorage.setItem("userPhone",this.form.phone)
                        window.requestAnimationFrame(()=>{
                            window.location.href= '/front/index.html'
                        })
                    }else{
                        this.$notify({ type:'warning', message:res.msg});
                    }
                }else{
                    this.$notify({ type:'warning', message:'请获取并输入验证码'});
                }
            }
        }
    })
</script>
</html>